@{
    ViewData["Title"] = "Home Page";
    @model PersonalBlog.Web.ViewModels.BlogPostsViewModel
}
<div class="row hero">
    @*Hero Image Container*@
</div>

@*<div class="row tile-row">
    <div class="col-4 card-col">
        <a class="card-link" asp-controller="BlogPosts" asp-action="Drums">
            <div class="card card-tile">
                <h3 class="my-font">Drums</h3>
            </div>
        </a>
    </div>
    <div class="col-4 card-col">
        <a class="card-link" asp-controller="BlogPosts" asp-action="Guitar">
            <div class="card card-tile">
                <h3 class="my-font">Guitar</h3>
            </div>
        </a>
    </div>
    <div class="col-4 card-col">
        <a class="card-link" asp-controller="BlogPosts" asp-action="Engineering">
            <div class="card card-tile">
                <h3 class="my-font">Engineering</h3>
            </div>
        </a>
    </div>
</div>*@

<div class="post-container">

    <h1 class="m-3 my-font text-center">Recent Posts</h1>
    @foreach (var post in @Model.Posts)
    {
        <div class="row justify-content-center">
            <div class="post-card">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="@post.PostImageURL" class="card-images" alt="@post.PostTitle">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">@post.PostTitle</h5>
                            <p class="card-text">@post.PostContent</p>
                            <p class="card-text"><small class="text-muted">@post.PostDate</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
