@{
    @model PersonalBlog.Web.ViewModels.BlogPostsViewModel
    ViewData["Title"] = "All Posts";
}

<div class="list-container">
    <h1 class="page-title">All Posts</h1>
    <a class="btn btn-success create-btn" asp-action="Create">Create New</a>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>
                    Post Title
                </th>
                <th>
                    Category
                </th>
                <th>
                    Post Date
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var post in @Model.Posts) {
            <tr>
                <td>
                    <a class="text-dark" asp-action="Details" asp-route-id="@post.PostId">@post.PostTitle</a>
                </td>
                <td>
                    @post.PostCategory
                </td>
                <td>
                    @post.PostDate.ToShortDateString()
                </td>
                <td>
                    <a class="btn btn-info" asp-action="Edit" asp-route-id="@post.PostId">Edit</a>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@post.PostId">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
