@model IEnumerable<PersonalBlog.ClassLibrary.BlogPost>

@{
    ViewData["Title"] = "All Posts";
}

<div class="list-container">
    <h1>All Posts</h1>

    <p>
        <a class="btn btn-success" asp-action="Create">Create New</a>
    </p>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PostTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PostCategory)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PostDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PostTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostCategory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PostId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PostId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PostId">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
